{% extends 'base.html' %}
{% load static %}

{% block content %}
     {% include 'plants/home-page-with-profile.html' %}
<!-- Display paragraph: If there are no plants yet-->
        <p class="no-articles">No plants yet</p>

    <!-- Display div "plant" with information about every plant (if any)-->
    <section id="catalogue">


        {% for plant in all_plants %}
            {% if not plant %}
                <!-- Display paragraph: If there are no plants yet-->
                <p class="no-articles">No plants yet</p>
            {% else %}
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="{{ plant.image_url }}">
                    </div>
                    <!-- plant name -->
                    <h3>{{ plant.name }}</h3>
                    <!-- plant description -->
                    <h1>{{ plant.description }}</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="{% url 'plant-details' plant.id %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}


