{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- headlines -->
       <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'home-page' %}">MyPlants</a></h1>
        <nav>

{#                <a href="{% url 'create-profile' %}">Create Profile</a>#}
                <a href="{% url 'catalogue' %}">Catalogue</a>
                <a href="{% url 'create-plant' %}">Create Plant</a>
                <a href="{% url 'profile-details' %}">Profile</a>

        </nav>
    </header>

{% endblock %}
